<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solarsystemapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="._SwipeActivityClass"></activity>
        <activity
            android:name=".Sun"
            android:theme="@style/AppTheme.SlidrActivityTheme">

        </activity>
        <activity
            android:name=".Pluto"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Neptune"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Uranus"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Saturn"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Venus"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Mercury"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Mars"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Jupiter"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name=".Earth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>